/* This file is for your main application css. */

@import "./phoenix.css";

.row {
  align-items: flex-end;
}

.right {
  float: right;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.device_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  padding: 10px;
}

.form_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: center;
  padding: 64px;
}

.encoder-top {
  margin: 12px;
  padding: 12px;
  padding-top: 4px;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 450px;
  width: 200px;
  min-width: 200px;
  justify-content: space-around;
  align-content: center;
  flex: auto;


  text-align: center;
  white-space: nowrap;
  border: 1px solid gray;
  background-color: gainsboro;
  border-radius: 8px 8px;
  -webkit-box-shadow: 7px 6px 19px -3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 7px 6px 19px -3px rgba(0, 0, 0, 0.6);
  box-shadow: 7px 6px 19px -3px rgba(0, 0, 0, 0.6);
}

.clicker {
  z-index: 10;
}

.direction_holder {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  position: relative;
}

.dir-ccw {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.dir-cw {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.dir-label {
  color: dimgrey;
  font-size: 24px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}


.invisible {
  display: none;
}

.click {
  white-space: nowrap;
  pointer-events: none;
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: center;
}

.name-label {
  font-size: 24px;
  color: dimgrey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-align: left;
}

.pin-label {
  font-size: 14px;
  color: dimgrey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
}

.border {
  border: 1px solid black;
  padding: 10px;
}

.click-label {
  top: 100px;
  height: 100px;
  color: black;
  pointer-events: none;
  position: absolute;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  font-size: 44px;
  transition: all 1.0s ease-out;
  opacity: 0.0;
}

.click .larger {
  transition: all 0.1s ease-out;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  font-size: 84px;
  color: green;
  opacity: 1.0;
}

.phx-hero {
  padding: 10px;
}

.val-label {
  font-size: 84px;
}

.direction_holder .larger {
  transition: all 0.1s ease-out;
  font-size: 74px;
  color: red;
  overflow: visible;
}

.half {
  width: 50%;
}

.error {
  font-weight: bold;
  color: red;
}